{{>header}}
	<main class="main-section">
	{{#posts}}
		<article class="post-main">
			<header>
				<a href="{{path}}"><h2 class="post-title">{{{title}}}</h2></a>
				<div class="post-meta">
					Published
					<time datetime="{{ date }}" pubdate>{{ moment date 'MMMM Do YYYY'}}</time>
				</div>
			</header>
			<section class="post-content">
				<p>{{{contents}}}</p>
			</section>
		</article>
	{{/posts}}
	</main>
{{>footer}}
