{{>header}}
	<main class="main-index">
	{{#posts}}
		<article class="post-excerpt">
			<header>
				<h2><a href="{{path}}">{{{title}}}</a></h2>
				<div class="meta">
					<time datetime="{{ date }}">{{ moment date 'MMM Do YYYY'}}</time>
					<span class="author"><a href="/" rel="author">Gonzalo Alvarez</a></span>
				</div>
			</header>
			{{debug}}
			<section class="excerpt">
				<p>{{{contents}}}</p>
			</section>
		</article>
	{{/posts}}
	</main>
{{>footer}}
