<!-- HTML GonAl project - Main HTML file                                                -->
<!--                                                                                    -->
<!-- Gonzalo Alvarez, 2014                                                              -->
<!-- Work licensed under                                                                -->
<!-- Creative Commons Attributions-NonCommercial-NoDerivaties 4.0 International License -->
<!-- See: http://creativecommons.org/licenses/by-nc-nd/4.0/                             -->
<!--                                                                                    -->

<!DOCTYPE HTML>
<html>
<head>
	<title>{{ home.fullname }} - {{ home.fulltitle }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta charset="UTF-8"/>
	<meta name="HandheldFriendly" content="True" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="Gonzalo,Alvarez,Software,Development,Engineer,Amazon,ESA,Java,Scrum,Javascript,Angular" />
	<meta name="author" content="Gonzalo Alvarez" />
	<meta name="description" content="Gonzalo Alvarez: Software Development Engineer and Cloud Architect working at Amazon.com and previously at the European Space Agency. Scrum Master with extensive experience in Java."/>
	<link href='css/styles.css' rel='stylesheet' type='text/css' />

{{>favicon}}

</head>
<body>
	<nav class="nav" id="topnav">
		<ul>
			<li class="nav-li"><a href="#" id="topnavCM"><span class="fa fa-comment"></span>Contact Me</a></li>
			<li class="nav-li"><a href="b/" target="_blank"><span class="fa fa-rss"></span>Blog</a></li>
			<li class="nav-li"><a href="cv/CV-GonzaloAlvarez.pdf" target="_blank"><span class="fa fa-download"></span>Download CV</a></li>
		</ul>
	</nav>
	<div class="main"> <!-- It might be worth looking into using semantic elements -->
		<div class="box">
			<a href="#" class="nav-menu"><span class="fa fa-reorder"></span></a>
			<div class="container profile">
				  <div class="avatar"><span class="avatar-image"></span></div>
			</div>
			<div class="info container">
				<h1>{{ home.fullname }}</h1>
				<h2>{{ home.fulltitle }}</h2>
			</div>
			<div class="social">
				<ul class="social-icons">
					{{#each social.icons}}
						<li><a href="{{ href }}" target="_blank"><span class="fa fa-{{ icon }}"></span></a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="box">
			<div class="header">
				<span class="fa fa-briefcase"></span> 
				Professional Experience
			</div>
			<div class="container fullwidth">
				{{#each jobs.list}}
					{{>cventry}}
				{{/each}}
			</div>
		</div>
		<div class="box">
			<div class="header">
				<span class="fa fa-wrench"></span> 
				Skills
			</div>
			<div class="container fullwidth">
				{{>skills}}
			</div>
		</div>
		<div class="box">
			<div class="header">
				<span class="fa fa-graduation-cap"></span> 
				Education
			</div>
			<div class="container fullwidth">
				{{#each edu.list}}
					{{>cventry}}
				{{/each}}
			</div>
		</div>
		<a name="contactme"></a>
		<div class="box">
			<div class="header">
				<span class="fa fa-envelope"></span> 
				Contact
			</div>
			<div class="container cm">
			{{>contactme}}
			</div>
		</div>

	</div>

	<div id="gototop" class="fa fa-chevron-up gototop"></div>

	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
