<div class="cventry">
	{{#if this.logo}}
		<div class="logo {{this.logo }}">&nbsp;</div>
	{{/if}}
	<div class="dates">{{ this.dates }}</div>
	<div class="achievement">
		<h3 class="name">{{ this.name }}</h3>
		<h4><a class="location" href="{{default this.centreurl '#'}}">{{ this.centre }}</a></h4>
	</div>
	{{md this.content }}
</div>
