<div class="cventry">
	<div class="dates">{{ this.dates }}</div>
	<div class="achievement">
		<span class="logo {{ this.logo }}">&nbsp;</span>
		<h3 class="name">{{ this.name }}</h3>
		<h4><a class="location" href="{{default this.centreurl '#'}}">{{ this.centre }}</a></h4>
		<p>{{md this.content }}</p>
	</div>
</div>
