<div class="cventry">
	{{#if this.logo}}
		<a class="logo {{this.logo }}" href="{{ default this.centre_url '#'}}">&nbsp;</a>
	{{/if}}
	<div class="dates">{{ this.dates }}</div>
	<div class="achievement">
		{{#if this.short_name }}
			<h3 class="name large_only">{{ this.name }}</h3>
			<h3 class="name small_only">{{ this.short_name }}</h3>
		{{else}}
			<h3 class="name">{{ this.name }}</h3>
		{{/if}}
		<h4><a class="location" href="{{default this.centre_url '#'}}">{{ this.centre }}</a></h4>
	</div>
	{{md this.content }}
</div>
