<!-- HTML GonAl project - Main HTML file                                                -->
<!--                                                                                    -->
<!-- Gonzalo Alvarez, 2014                                                              -->
<!-- Work licensed under                                                                -->
<!-- Creative Commons Attributions-NonCommercial-NoDerivaties 4.0 International License -->
<!-- See: http://creativecommons.org/licenses/by-nc-nd/4.0/                             -->
<!--                                                                                    -->

<!DOCTYPE HTML>
<html>
<head>
	<title>{{ home.fullname }} - {{ home.shorttitle }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='css/styles.css' rel='stylesheet' type='text/css'>

{{>favicon}}

</head>
<body>
	<div class="box">
		<div class="container profile">
			  <div class="avatar"><span></span></div>
		</div>
		<div class="info container">
			<h1>{{ home.fullname }}</h1>
			<h2>{{ home.fulltitle }}</h2>
		</div>
		<div class="social">
			<ul class="social-icons">
				{{#each social.icons}}
					<li><a href="{{ href }}"><span class="fa fa-{{ icon }}"></span></a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-briefcase"></span> 
			Professional Experience
		</div>
		<div class="container fullwidth">
			{{#each jobs.list}}
				{{>cventry}}
			{{/each}}
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-wrench"></span> 
			Skills
		</div>
		<div class="container fullwidth">
			{{>skills}}
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-graduation-cap"></span> 
			Education
		</div>
		<div class="container fullwidth">
			{{#each edu.list}}
				{{>cventry}}
			{{/each}}
		</div>
	</div>
	<div class="box">
		<div class="header">
			<span class="fa fa-envelope"></span> 
			Contact
		</div>
		<div class="container cm">
		{{>contactme}}
		</div>
	</div>

	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
